Asp/Lab7_WCF_Client/Lab7_WCF_Client/Connected Services/PhoneBookService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Lab7_WCF_Server" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Lab7_WCF_Server" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TS" nillable="true" type="tns:TS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTS" nillable="true" type="tns:ArrayOfTS" />
  <xs:complexType name="TS">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TS" nillable="true" type="tns:TS" />
</xs:schema>