Asp/Lab7_WCF_Client/Lab7_WCF_Client/Connected Services/PhoneBookService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Lab7_WCF_Server" />
  <xs:element name="GetAllTS">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Lab7_WCF_Server" minOccurs="0" name="GetAllTSResult" nillable="true" type="q1:ArrayOfTS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Lab7_WCF_Server" minOccurs="0" name="ts" nillable="true" type="q2:TS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTSResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Lab7_WCF_Server" minOccurs="0" name="ts" nillable="true" type="q3:TS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditTSResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTSResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>