Asp/Lab7_WCF_Client/Lab7_WCF_Client/Connected Services/PhoneBookService/PhoneBook.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PhoneBook" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Lab7_WCF_Server" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPhoneBook_GetAllTS_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTS" />
  </wsdl:message>
  <wsdl:message name="IPhoneBook_GetAllTS_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTSResponse" />
  </wsdl:message>
  <wsdl:message name="IPhoneBook_AddTS_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTS" />
  </wsdl:message>
  <wsdl:message name="IPhoneBook_AddTS_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTSResponse" />
  </wsdl:message>
  <wsdl:message name="IPhoneBook_EditTS_InputMessage">
    <wsdl:part name="parameters" element="tns:EditTS" />
  </wsdl:message>
  <wsdl:message name="IPhoneBook_EditTS_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditTSResponse" />
  </wsdl:message>
  <wsdl:message name="IPhoneBook_DeleteTS_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTS" />
  </wsdl:message>
  <wsdl:message name="IPhoneBook_DeleteTS_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTSResponse" />
  </wsdl:message>
  <wsdl:portType name="IPhoneBook">
    <wsdl:operation name="GetAllTS">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhoneBook/GetAllTS" message="tns:IPhoneBook_GetAllTS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhoneBook/GetAllTSResponse" message="tns:IPhoneBook_GetAllTS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTS">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhoneBook/AddTS" message="tns:IPhoneBook_AddTS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhoneBook/AddTSResponse" message="tns:IPhoneBook_AddTS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditTS">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhoneBook/EditTS" message="tns:IPhoneBook_EditTS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhoneBook/EditTSResponse" message="tns:IPhoneBook_EditTS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTS">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhoneBook/DeleteTS" message="tns:IPhoneBook_DeleteTS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhoneBook/DeleteTSResponse" message="tns:IPhoneBook_DeleteTS_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPhoneBook" type="tns:IPhoneBook">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllTS">
      <soap:operation soapAction="http://tempuri.org/IPhoneBook/GetAllTS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTS">
      <soap:operation soapAction="http://tempuri.org/IPhoneBook/AddTS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditTS">
      <soap:operation soapAction="http://tempuri.org/IPhoneBook/EditTS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTS">
      <soap:operation soapAction="http://tempuri.org/IPhoneBook/DeleteTS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PhoneBook">
    <wsdl:port name="BasicHttpBinding_IPhoneBook" binding="tns:BasicHttpBinding_IPhoneBook">
      <soap:address location="http://localhost:8080/PhoneBook" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>